numpy
pandas
tqdm
transformers
sentence-transformers
torch
accelerate
pyarrow
open-rag-eval

faiss-cpu
# faiss-gpu; sys_platform == "linux"

# AWS services support
boto3
opensearch-py
requests-aws4auth

scikit-learn
rank-bm25
